<nav class="navbar" ng-style="navbarStyle" role="navigation" ng-controller="NavbarController" ng-cloak>
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" href="#">
        <div logo-url></div>
      </span>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" uib-dropdown ng-if="isAuthenticated">
          <a href class="dropdown-toggle" uib-dropdown-toggle>
            <span class="fullname">{{ user.username() }}</span>
            <img class="gravatar" gravatar-src-once="user.email()" gravatar-size="30">
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#settings"><i class="fa fa-gear"></i> Settings</a>
            </li>
            <li>
              <a href ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a>
            </li>
         </ul>
        </li>

        <li id="info">
          <a href="#info">
            <span tooltip-placement="bottom" tooltip-trigger uib-tooltip="Info">
              <i class="fa fa-info-circle"></i>
            </span>
          </a>
        </li>

        <li id="settings" ng-if="!isAuthenticated">
          <a href="#settings">
            <span tooltip-placement="bottom" tooltip-trigger uib-tooltip="Settings">
              <i class="fa fa-gear"></i>
            </span>
          </a>
        </li>
      </ul>

    </div><!--/.navbar-collapse-->
  </div><!--/.container-fluid-->
  <ng-include src="'partials/collection-search.html' + versionParam" ng-if="enterprise"></ng-include>
</nav>
