<nav class="navbar" ng-style="navbarStyle" role="navigation" ng-controller="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" href="#"><img src="bower_components/uchiwa-web/img/uchiwa.png"></span>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li id="info">
          <a href="#info">
            <span tooltip-placement="bottom" tooltip-trigger tooltip="Info">
              <i class="fa fa-info-circle"></i>
            </span>
          </a>
        </li>

        <li id="settings">
          <a href="#settings">
            <span tooltip-placement="bottom" tooltip-trigger tooltip="Settings">
              <i class="fa fa-gear"></i>
            </span>
          </a>
        </li>

        <li id="logout" ng-if="enterprise && config.Uchiwa.Auth === 'sql' && user.isAdmin()">
          <a href="#" ng-click="logout()">
            <span tooltip-placement="bottom" tooltip-trigger tooltip="Logout">
              <i class="fa fa-sign-out"></i>
            </span>
          </a>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <ng-include src="'partials/collection-search.html'" ng-if="enterprise"></ng-include>
</nav>
