<nav class="navbar" ng-style="navbarStyle" role="navigation" ng-controller="NavbarController">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" href="#"><img src="bower_components/uchiwa-web/img/uchiwa.png"></span>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown ng-if="auth">
          <a href class="dropdown-toggle" dropdown-toggle>
            <span class="fullname">{{auth.FullName || auth.Username}}</span>
            <img class="gravatar" gravatar-src-once="auth.Email" gravatar-size="30">
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#settings"><i class="fa fa-gear"></i> Settings</a>
            </li>
            <li>
              <a href ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a>
            </li>
         </ul>
        </li>

        <li id="info">
          <a href="#info">
            <span tooltip-placement="bottom" tooltip-trigger tooltip="Info">
              <i class="fa fa-info-circle"></i>
            </span>
          </a>
        </li>

        <li id="settings" ng-if="!auth">
          <a href="#settings">
            <span tooltip-placement="bottom" tooltip-trigger tooltip="Settings">
              <i class="fa fa-gear"></i>
            </span>
          </a>
        </li>
      </ul>

    </div><!--/.navbar-collapse-->
  </div><!--/.container-fluid-->
  <ng-include src="'partials/collection-search.html'" ng-if="enterprise"></ng-include>
</nav>
