<div class="sidebar" role="navigation" ng-controller="sidebar">
  <div class="container">
    <div class="">
      <ul class="nav sidebar-nav">
        <li class="logo"></li>
        <li id="dashboard" class="show-on-hover" ng-class="getClass('/events')">
          <a ng-href="#events" class="dropdown-toggle" data-toggle="dropdown">
            <span class="small-nav">
              <i class="fa fa-bullhorn"></i>
              <span class="badge badge-{{navbar.events.style}}">{{events | arrayLength}}</span>
            </span>
          </a>
          <div class="dropdown-menu popover-menu" role="menu">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-body panel-popover panel-{{navbar.events.style}}">
                  <div class="panel-title">events</div>

                  <div class="row counts">
                    <div class="col-sm-4">
                      <span class="total">{{ navbar.events.critical }}</span>
                      <p class="category">critical</p>
                    </div>
                    <div class="col-sm-4">
                      <span class="total">{{ navbar.events.warning }}</span>
                      <p class="category">warning</p>
                    </div>
                    <div class="col-sm-4">
                      <span class="total">{{ navbar.events.unknown }}</span>
                      <p class="category">unknown</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>
        <li id="clients" class="show-on-hover" ng-class="getClass('/clients')">
          <a ng-href="#clients" class="dropdown-toggle" data-toggle="dropdown">
            <span class="small-nav">
              <i class="fa fa-hdd-o"></i>
              <span class="badge badge-{{navbar.clients.style}}">{{clients | arrayLength}}</span>
            </span>
          </a>
          <div class="dropdown-menu popover-menu" role="menu">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-body panel-popover panel-{{navbar.clients.style}}">
                  <div class="panel-title">clients</div>

                  <div class="row counts">
                    <div class="col-sm-4">
                      <span class="total">{{ navbar.clients.critical }}</span>
                      <p class="category">critical</p>
                    </div>
                    <div class="col-sm-4">
                      <span class="total">{{ navbar.clients.warning }}</span>
                      <p class="category">warning</p>
                    </div>
                    <div class="col-sm-4">
                      <span class="total">{{ navbar.clients.unknown }}</span>
                      <p class="category">unknown</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>
        <li id="checks" class="show-on-hover" ng-class="getClass('/checks')">
          <a ng-href="#checks" class="dropdown-toggle" data-toggle="dropdown">
            <span class="small-nav">
              <i class="fa fa-check-square"></i>
              <span class="badge badge-ok">{{checks | arrayLength}}</span>
            </span>
          </a>
          <div class="dropdown-menu popover-menu" role="menu">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-body panel-popover panel-ok">
                  <div class="panel-title"><ng-pluralize count="checks | arrayLength" when="{'0': 'checks', '1': 'check', 'other': 'checks'}"></ng-pluralize></div>

                  <div class="row counts">
                    <div class="col-sm-4">
                      <span class="total">{{checks | arrayLength}}</span>
                      <p class="category">total</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>
        <li id="stashes" class="show-on-hover" ng-class="getClass('/stashes')">
          <a ng-href="#stashes" class="dropdown-toggle" data-toggle="dropdown">
            <span class="small-nav">
              <i class="fa fa-briefcase"></i>
              <span class="badge badge-ok">{{stashes | arrayLength}}</span>
            </span>
          </a>
          <div class="dropdown-menu popover-menu" role="menu">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-body panel-popover panel-ok">
                  <div class="panel-title"><ng-pluralize count="stashes | arrayLength" when="{'0': 'stashes', '1': 'stash', 'other': 'stashes'}"></ng-pluralize></div>

                  <div class="row counts">
                    <div class="col-sm-4">
                      <span class="total">{{stashes | arrayLength}}</span>
                      <p class="category">total</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>
        <li id="aggregates" class="show-on-hover" ng-class="getClass('/aggregates')">
          <a ng-href="#aggregates" class="dropdown-toggle" data-toggle="dropdown">
            <span class="small-nav">
              <i class="fa fa-folder"></i>
              <span class="badge badge-ok">{{aggregates | arrayLength}}</span>
            </span>
          </a>
          <div class="dropdown-menu popover-menu" role="menu">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-body panel-popover panel-ok">
                  <div class="panel-title"><ng-pluralize count="aggregates | arrayLength" when="{'0': 'aggregates', '1': 'aggregate', 'other': 'aggregates'}"></ng-pluralize></div>

                  <div class="row counts">
                    <div class="col-sm-4">
                      <span class="total">{{aggregates | arrayLength}}</span>
                      <p class="category">total</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>
        <li ng-if="enterprise && config.Uchiwa.Auth === 'sql' && user.isAdmin()" ng-class="getClass('/users')" >
          <a ng-href="#users">
            <span class="small-nav" tooltip-placement="right" tooltip-trigger tooltip="Users">
              <i class="fa fa-users"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
