<div class="sidebar" role="navigation" ng-controller="SidebarController">
  <div class="container">
    <div class="">
      <ul class="nav sidebar-nav">
        <li class="logo"></li>
        <li ng-if="enterprise " ng-class="getClass('/hud')" >
          <a ng-href="#hud">
            <span class="small-nav" tooltip-placement="right" tooltip-trigger tooltip="HUD">
              <i class="fa fa-tachometer"></i>
            </span>
          </a>
        </li>
        <li id="events" ng-class="getClass('/events')" uib-popover-template="popoversTemplates.events" popover-trigger="'mouseenter'" popover-class="uchiwa-popover" popover-placement="right">
          <a ng-href="#events">
            <span class="small-nav">
              <i class="fa fa-bullhorn"></i>
              <span class="badge badge-{{ eventsStyle }}">{{ metrics.events.total }}</span>
            </span>
          </a>
        </li>
        <li id="clients" ng-class="getClass('/clients')" uib-popover-template="popoversTemplates.clients" popover-trigger="'mouseenter'" popover-class="uchiwa-popover" popover-placement="right">
          <a ng-href="#clients">
            <span class="small-nav">
              <i class="fa fa-hdd-o"></i>
              <span class="badge badge-{{ clientsStyle }}">{{ metrics.clients.total }}</span>
            </span>
          </a>
        </li>
        <li id="checks" ng-class="getClass('/checks')" uib-popover-template="popoversTemplates.checks" popover-trigger="'mouseenter'" popover-class="uchiwa-popover" popover-placement="right">
          <a ng-href="#checks">
            <span class="small-nav">
              <i class="fa fa-check-square"></i>
              <span class="badge badge-ok">{{ metrics.checks.total }}</span>
            </span>
          </a>
        </li>
        <li id="silenced" ng-class="getClass('/silenced')" uib-popover-template="popoversTemplates.silenced" popover-trigger="'mouseenter'" popover-class="uchiwa-popover" popover-placement="right">
          <a ng-href="#silenced">
            <span class="small-nav">
              <i class="fa fa-bell-slash-o"></i>
              <span class="badge badge-ok">{{ metrics.silenced.total }}</span>
            </span>
          </a>
        </li>
        <li id="stashes" ng-class="getClass('/stashes')" uib-popover-template="popoversTemplates.stashes" popover-trigger="'mouseenter'" popover-class="uchiwa-popover" popover-placement="right">
          <a ng-href="#stashes">
            <span class="small-nav">
              <i class="fa fa-briefcase"></i>
              <span class="badge badge-ok">{{ metrics.stashes.total }}</span>
            </span>
          </a>
        </li>
        <li id="aggregates" ng-class="getClass('/aggregates')" uib-popover-template="popoversTemplates.aggregates" popover-trigger="'mouseenter'" popover-class="uchiwa-popover" popover-placement="right">
          <a ng-href="#aggregates">
            <span class="small-nav">
              <i class="fa fa-folder"></i>
              <span class="badge badge-ok">{{ metrics.aggregates.total }}</span>
            </span>
          </a>
        </li>
        <li id="datacenters" ng-class="getClass('/datacenter')" uib-popover-template="popoversTemplates.datacenters" popover-trigger="'mouseenter'" popover-class="uchiwa-popover" popover-placement="right">
          <a ng-href="#datacenters">
            <span class="small-nav">
              <i class="fa fa-cloud"></i>
              <span class="badge badge-ok">{{ metrics.datacenters.total }}</span>
            </span>
          </a>
        </li>
        <li ng-if="enterprise && config.Uchiwa.Auth === 'sql' && user.isAdmin()" ng-class="getClass('/users')" >
          <a ng-href="#users">
            <span class="small-nav" tooltip-placement="right" tooltip-trigger tooltip="Users">
              <i class="fa fa-users"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse-->
  </div>
</div>
