<div class="dropdown" dropdown>
  <span dropdown-toggle class="action" ng-if="filters.dc == ''">
    All Datacenters <i class="fa fa-caret-down"></i>
  </span>
  <span dropdown-toggle class="action" ng-if="filters.dc != ''">
    {{filters.dc}} <i class="fa fa-caret-down"></i>
  </span>
  <ul class="dropdown-menu">
    <li ng-class="{selected: filters.dc == ''}">
      <a href="" ng-click="permalink($event, 'dc', '')">
        <i class="fa fa-cloud"></i>
        All Datacenters
      </a>
    </li>
    <li ng-repeat="datacenter in datacenters | orderBy:'name'" ng-class="{selected: filters.dc == datacenter.name}">
      <a href="" ng-click="permalink($event, 'dc', datacenter.name)">
        <i class="fa fa-cloud"></i>
        {{datacenter.name}}
      </a>
    </li>
  </ul>
</div>
