/* Colors */
/* Body, Sections, and Headers */
/* Breadcrumb */
/* Code */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Panels */
/* Tables */
/* Sidebar */
/* Wells */
/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
html, html a {
  -webkit-font-smoothing: antialiased !important; }

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../../fonts/roboto-latin-300.woff2") format("woff2"), url("../../fonts/roboto-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../../fonts/roboto-latin-regular.woff2") format("woff2"), url("../../fonts/roboto-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../fonts/roboto-latin-700.woff2") format("woff2"), url("../../fonts/roboto-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
body {
  font-size: 13px;
  padding-left: 50px;
  background-color: #2C2C39;
  font-weight: 400;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #FFFFFF; }

hr {
  margin-top: 20px;
  margin-bottom: 20px; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.section-header {
  font-size: 23px;
  font-weight: 300;
  border-bottom: 1px solid #FFFFFF; }

.text-muted {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  padding-top: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mg-t-md {
  margin-top: 25px; }

.mg-r-sm {
  margin-right: 10px; }

.table > tbody > tr > td {
  vertical-align: middle; }

.table .hiddenRow {
  padding: 0 !important; }

a {
  color: #5F97FB; }

[ng-click] {
  cursor: pointer; }

.text-critical {
  color: #EA5443; }

.absolute {
  position: absolute; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.p20 {
  padding: 20px; }

pre.hljs {
  border: 0;
  font-size: 13px;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: inherit;
  color: #e6e1dc; }

pre.hljs .hljs-value {
  color: #e6e1dc; }

pre.hljs .hljs-attribute {
  color: #6d9cbe; }

pre.hljs .hljs-number {
  color: #a5c261; }

pre.hljs .hljs-literal {
  color: #a5c261; }

pre.hljs .hljs-string {
  color: #718c00; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.badge {
  position: absolute;
  top: 7px;
  left: 5px;
  color: #FFFFFF;
  font-weight: 700;
  padding: 2px 5px; }
  .badge-success {
    background-color: #43ac6a; }
  .badge-warning {
    background-color: #F9BA46; }
  .badge-critical {
    background-color: #EA5443; }
  .badge-unknown {
    background-color: #9C9990; }
  .badge-default, .badge-blue {
    background-color: #22222D; }

.badge-ok {
  color: #2C2C39;
  background-color: #6A5E98; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.breadcrumb {
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 0;
  padding-left: 0;
  border: none;
  background-color: transparent;
  letter-spacing: 0.02em; }

.breadcrumb > .active {
  color: #FFFFFF; }

.breadcrumb > li + li:before {
  content: "\f105";
  font-weight: bold;
  font-family: FontAwesome;
  padding: 0 5px; }

.breadcrumb p {
  margin-bottom: 0; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.btn {
  font-family: 'Roboto', sans-serif; }

.btn-default {
  color: #ffffff;
  background-color: #5F97FB; }

.btn-default:hover {
  color: #ffffff;
  background-color: #22222D; }

.circle {
  width: 10px;
  height: 10px;
  padding: 0 0 0 0;
  font-size: 15px;
  border-radius: 50%;
  outline: none !important;
  margin-right: 7px;
  display: inline-block; }
  .circle-success {
    background-color: #43ac6a; }
  .circle-warning {
    background-color: #F9BA46; }
  .circle-critical {
    background-color: #EA5443; }
  .circle-unknown {
    background-color: #9C9990; }
  .circle-default, .circle-blue {
    background-color: #22222D; }

.btn-collection, .btn-collection:hover, .btn-collection:focus, .btn-collection:visited {
  color: #ffffff;
  background-color: #5F97FB;
  border: 0px; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.container-fluid.dashboard {
  padding-top: 15px; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.client .client-info .attributes {
  padding-bottom: 15px; }

.client .key {
  font-weight: bold; }

.client .value {
  overflow-wrap: break-word;
  white-space: pre-line; }

.client .value img {
  display: block;
  max-width: 100%;
  max-height: 100%; }

.client .check-info .title {
  font-size: 14px;
  font-weight: bold; }

.client .check-output {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.dashboard .col-xs-4 {
  padding-right: 0px;
  padding-left: 5px; }

.dashboard .col-xs-4:last-child {
  padding-right: 5px; }

.dashboard .col-xs-12 {
  padding-right: 5px;
  padding-left: 5px; }

.dashboard .col-xs-6 {
  padding-right: 5px;
  padding-left: 5px; }

.dashboard .col-xs-6:last-child {
  padding-right: 5px; }

.dashboard .panel {
  margin-bottom: 5px; }

.dashboard-panel {
  height: 100px; }

.dashboard-graph-panel {
  height: 260px;
  border: 0; }

.dashboard-graph-title {
  font-weight: 300;
  font-size: 15px;
  padding: 10px 0 0 10px;
  text-transform: uppercase; }

.dashboard-title {
  font-weight: 400 !important; }

.dashboard-subtitle {
  display: block;
  font-size: 13px;
  text-transform: uppercase; }

.dashboard-number {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.0; }

.dashboard-percentage {
  opacity: 0.9;
  font-size: 17px;
  font-weight: 300; }

.dashboard-percentage:after {
  content: '%';
  font-size: 13px; }

.dashboard-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  opacity: 0.3; }

.dashboard-panel-silenced, .dashboard-panel-silenced > a {
  color: #FFFFFF;
  background-color: #9DA0A6; }

.dashboard-panel-healthy, .dashboard-panel-healthy > a {
  color: #FFFFFF;
  background-color: #43ac6a; }

.dashboard-panel-unknown, .dashboard-panel-unknown > a {
  color: #FFFFFF;
  background-color: #22222D; }

.dashboard-panel-critical, .dashboard-panel-critical > a {
  color: #FFFFFF;
  background-color: #EA5443; }

.dashboard-panel-warning, .dashboard-panel-warning > a {
  color: #FFFFFF;
  background-color: #F9BA46;
  border: 0px; }

.dashboard-panel-unsupported, .dashboard-panel-unsupported > a {
  color: #FFFFFF;
  background-color: #000000; }

.dashboard .rickshaw_graph {
  position: absolute;
  bottom: 5px; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.panel-heading .dropdown {
  display: inline; }

.dropdown {
  cursor: pointer; }

.dropdown-menu {
  background-color: #2C2C39;
  color: #FFFFFF;
  margin-top: 10px;
  min-width: 200px; }

.dropdown-menu-item {
  padding: 8px 0 8px 8px;
  font-weight: 400; }

.dropdown-menu > li > a {
  color: #FFFFFF;
  padding: 7px 20px;
  border-left: 5px solid transparent; }

.dropdown-menu > .selected > a {
  border-left: 5px solid #5F97FB; }

.dropdown-menu > li > a > i.fa {
  padding-right: 7px; }

.dropdown-menu.left {
  left: -135%; }

.show-on-hover:hover > div.dropdown-menu {
  display: block; }

.fa-stack {
  height: 1.4em;
  line-height: 1.4em;
  vertical-align: top; }

.fa-times {
  padding-right: 5px; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.form-control {
  height: auto;
  display: inline; }

.form-control.limit {
  width: auto; }

.form-control.subscriptions {
  width: 140px; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.gravatar {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.info .center {
  text-align: center; }

.info .number {
  font-weight: 700;
  font-size: 28px; }

.info .number a {
  color: inherit; }

.info .title {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #5F97FB; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.label {
  font-size: 13px;
  font-weight: 600; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
li.timestamp {
  margin-top: 7px; }

li.timestamp a {
  text-decoration: none;
  color: #22222D;
  font-weight: 700; }

li.timestamp a:hover {
  color: #5F97FB; }

li.timestamp .relative-timestamp {
  color: #FFFFFF;
  font-weight: 400; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.login-container {
  position: relative;
  width: 300px;
  margin: 80px auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc; }

.login-container::before, .login-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3.5px;
  left: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  border: 1px solid #ccc; }

.login-container::after {
  top: 5px;
  z-index: -2;
  -webkit-transform: rotateZ(-2deg);
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg); }

.login-logo {
  margin: 10px auto 30px; }

.login-form input {
  width: 100%;
  padding: 10px;
  text-align: center;
  height: 40px;
  border: 1px solid #ccc;
  background: #fafafa;
  transition: 0.2s ease-in-out;
  color: #000000; }

.login-form input:focus {
  outline: 0;
  background: #eee; }

.login-form input[type="text"] {
  border-radius: 5px 5px 0 0;
  text-transform: lowercase; }

.login-form input[type="password"] {
  border-radius: 0 0 5px 5px;
  border-top: 0; }

.login-form button.login {
  margin-top: 15px;
  padding: 10px 20px; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.modal-header {
  border-bottom: 1px solid #21212b; }

.modal-content {
  background-color: #2C2C39;
  color: #6f6f6f; }

.modal-footer {
  border-top: 1px solid #21212b; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.nav-list {
  font-size: 13px;
  text-transform: uppercase; }

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border: 0px; }

.nav-tabs.nav-justified > li > a {
  border: 0px; }

.nav > li {
  position: relative;
  display: block; }

.nav > li > a {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #2F2F2F; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, li > a.active {
  color: #FFFFFF;
  background-color: inherit;
  border-bottom: 3px solid #5F97FB;
  margin-bottom: -3px;
  z-index: 10; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.navbar {
  color: #FFFFFF;
  height: 61px;
  background-color: #4d4d64;
  margin-bottom: 0;
  border-bottom: 0; }

.navbar > .container-fluid {
  padding-top: 5px; }

.navbar > .container-fluid > .navbar-header > .navbar-brand {
  padding: 9px 15px;
  margin-left: 0px; }

.navbar .nav > li > a {
  font-size: 28px;
  color: #FFFFFF;
  background-color: #4d4d64; }

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  background-color: #4d4d64; }

.navbar .nav > li > .fa-search {
  font-size: 24px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px; }

.navbar .nav .fullname {
  font-size: 16px;
  padding-right: 5px; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.panel {
  -webkit-box-shadow: none;
  box-shadow: none; }
  .panel-success {
    background-color: #43ac6a; }
  .panel-warning {
    background-color: #F9BA46; }
  .panel-critical {
    background-color: #EA5443; }
  .panel-unknown {
    background-color: #9C9990; }
  .panel-default, .panel-blue {
    background-color: #22222D; }

.panel-heading {
  font-weight: 700; }

.panel-body {
  padding-top: 0;
  padding-bottom: 15px; }

.panel-body .tooltip-inner {
  max-width: 300px;
  white-space: pre-wrap;
  font-style: none; }

.panel-breadcrump {
  margin-bottom: 0; }

.panel-default {
  background-color: #424256;
  color: #FFFFFF;
  border: none; }

.panel-default .panel-heading {
  background-color: #2C2C39;
  color: #FFFFFF;
  border: none;
  font-weight: 400; }

.panel-default .panel-heading .action {
  opacity: 0.8;
  font-size: 11px;
  text-transform: uppercase; }

.panel-default .panel-heading .dropdown {
  line-height: 30px; }

.panel-default .panel-heading span {
  padding-right: 15px;
  padding-left: 15px; }

.panel-default .panel-heading .form-control {
  border: 0 solid transparent; }

.panel-default .panel-heading .input-group-addon {
  border: 0 solid transparent; }

.panel .panel-icon {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700; }

.panel .panel-icon i {
  padding-left: 5px; }

.panel .panel-title {
  margin-top: 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700; }

.panel .subtitle {
  display: block;
  line-height: 1.2; }

.panel-ok {
  color: #2C2C39;
  background-color: #6A5E98; }

.popover-menu .panel {
  font-size: 13px;
  font-weight: 400;
  border: 0px;
  margin-bottom: 0px;
  color: #FFFFFF; }

.popover-menu .panel-body {
  padding-bottom: 0; }

.popover-menu .panel-title {
  margin-top: 10px; }

.popover-menu .panel .total {
  font-size: 16px; }

.popover-menu .panel .category {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 0.7; }

.dropdown-menu.popover-menu {
  top: -20%;
  left: 97%;
  min-width: 250px; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.rickshaw_graph .x_ticks_d3 .tick {
  stroke-width: 0px; }

.rickshaw_graph .x_grid_d3 .tick text {
  display: none; }

.rickshaw_graph .y_grid .tick, .rickshaw_graph .x_grid_d3 .tick {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 0.5px;
  stroke-dasharray: 0; }

.rickshaw_graph .y_ticks path, .rickshaw_graph .x_ticks_d3 path {
  fill: none;
  stroke: none; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.navbar .uchiwa-search {
  display: block;
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 100;
  background-color: #5F97FB; }

.navbar .uchiwa-search .form-control {
  background-color: #5F97FB;
  color: white;
  border-radius: 0;
  border-width: 0;
  box-shadow: none;
  border: 0px;
  padding: 8px 0;
  font-size: 22px; }

.search-results {
  color: #FFFFFF;
  position: absolute;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: 0;
  padding-right: 4px !important;
  padding-top: 7px; }

.search-container {
  display: inline-block;
  position: relative;
  width: 100%; }

.navbar .uchiwa-search .form-control::-webkit-input-placeholder {
  color: white; }
.navbar .uchiwa-search .form-control:-moz-placeholder {
  color: white; }
.navbar .uchiwa-search .form-control::-moz-placeholder {
  color: white; }
.navbar .uchiwa-search .form-control:-ms-input-placeholder {
  color: white; }

.navbar .uchiwa-search .input-group {
  margin-bottom: 0px; }

.navbar .uchiwa-search .input-group-btn .btn {
  margin-left: 0px;
  font-size: 20px; }

.navbar .uchiwa-search .input-group-btn .btn:hover {
  border: 0; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.sidebar {
  background-color: #22222D; }

.nav > .logo {
  background-color: #5F97FB;
  border-left: 3px #5F97FB;
  display: block;
  padding-left: 16px;
  padding-right: 15px;
  padding-top: 10px;
  height: 60px; }

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 100%;
  border-radius: 0px;
  border: 0px;
  z-index: 1030; }

.sidebar.open {
  width: 240px; }

.sidebar > .container {
  padding: 0px;
  width: 100%; }

.sidebar .sidebar-header,
.sidebar .sidebar-brand {
  float: none;
  display: block;
  width: 100%;
  margin: 0px; }

.sidebar .sidebar-brand {
  height: 50px; }

.sidebar > .container .sidebar-brand {
  padding: 0px;
  margin: 0px; }

.sidebar > .container .sidebar-brand > .small-nav {
  display: block; }

.sidebar.open > .container .sidebar-brand {
  width: 100%;
  padding: 15px 15px 60px;
  text-align: center; }

.sidebar .sidebar-nav > li {
  float: none; }

.sidebar > .container .full-nav {
  display: none; }

.sidebar.open > .container .full-nav {
  display: block; }

.sidebar.open > .container .small-nav {
  display: none; }

.sidebar .sidebar-collapse {
  padding: 0px; }

.sidebar .sidebar-nav {
  float: none;
  margin: 0px; }

.sidebar .sidebar-nav > li > a {
  color: #FFFFFF;
  padding: 0px;
  border-left: 3px solid #22222D; }

.sidebar .sidebar-nav > li > a:hover {
  color: #FFFFFF;
  background-color: #22222D;
  border-left: 3px solid #5F97FB; }

.sidebar .sidebar-nav > .selected > a {
  color: #FFFFFF;
  background-color: #22222D;
  border-left: 3px solid #FFFFFF; }

.sidebar .sidebar-nav > li > a > span {
  display: block;
  font-size: 16pt;
  padding: 13px 15px 13px 14px; }

.sidebar .tooltip,
.sidebar .tooltip .tooltip-inner {
  max-width: auto;
  white-space: nowrap;
  color: #2C2C39; }

.sidebar .tooltip .tooltip-inner {
  background-color: #5F97FB; }

.tooltip.right .tooltip-arrow {
  border-right: 5px solid #5F97FB; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.table {
  margin-bottom: 10px; }

.table td i {
  font-size: 15px;
  padding-left: 3px; }

.table td.main {
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.table td.source {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.table td.output {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.table td.check-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.table td.dc {
  word-break: break-all; }

.table th.col-min {
  width: 4%; }

.table th.col-min-ro {
  width: 1%; }

.table th.col-gravatar {
  width: 5%; }

.table th.col-dc {
  width: 8%; }

.table th.col-date {
  width: 13.5%; }

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top: 0px; }

.table > thead tr th, .table > thead > tr > th {
  padding-top: 15px !important;
  padding-top: 15px !important;
  border: none; }

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #373747 !important; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.well {
  border: 0px;
  margin-bottom: 5px;
  background-color: #22222D; }

.well-success {
  border-left: 3px solid #43ac6a; }

.well-warning {
  border-left: 3px solid #F9BA46; }

.well-critical {
  border-left: 3px solid #EA5443; }

.well-unknown {
  border-left: 3px solid #9C9990; }

.well-default {
  border-left: 3px solid #22222D; }

.well .lead {
  margin-bottom: 5px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 18px; }

.well span {
  display: block; }

.well:hover {
  background-color: #2F2F2F; }

/* Colors */
/* Body, Sections and Headers */
/* Breadcrumb */
/* Buttons */
/* Code */
/* Dashboard */
/* Dropdown */
/* Login */
/* Modal */
/* Nav */
/* Navbar */
/* Search */
/* Sidebar */
/* Panels */
/* Tables */
/* Timestamp */
/* Wells */
.lead {
  margin-bottom: 5px; }

/*# sourceMappingURL=uchiwa-dark.css.map */
