@import "variables";

.badge {
  position: absolute;
  top: 7px;
  left: 5px;
  color: #FFFFFF;
  font-weight: 700;
  padding: 2px 5px;
  @include context-colors;
}

.badge-ok {
  color: $primary-color;
  background-color: $info-color;
}
