@import "variables";

html, html a {
  -webkit-font-smoothing: antialiased !important;
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../../fonts/roboto-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('../../fonts/roboto-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../../fonts/roboto-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('../../fonts/roboto-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../../fonts/roboto-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('../../fonts/roboto-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-size: 13px;
  padding-left: 50px;
  background-color: $body-background-color;
  font-weight: 400;
  color: $body-text-color;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $header-text-color;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.section-header {
  font-size: 23px;
  font-weight: 300;
  border-bottom: $section-header-border-bottom;
}

.text-muted {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  padding-top: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mg-t-md {
  margin-top: 25px;
}

.mg-r-sm {
  margin-right: 10px;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.table .hiddenRow {
  padding: 0 !important;
}

a {
  color: $quinary-color;
}

[ng-click] {
  cursor: pointer;
}

.text-critical {
  color: $critical-color;
}

.absolute {
  position: absolute;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.p20 {
  padding: 20px;
}

pre.hljs {
  border: 0;
  font-size: 13px;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: inherit;
  color: $code-base-color;
}

pre.hljs .hljs-value {
  color: $code-base-color;
}

pre.hljs .hljs-attribute {
  color: $code-attribute-color;
}

pre.hljs .hljs-number {
  color: $code-number-color;
}

pre.hljs .hljs-literal {
  color: $code-literal-color;
}

pre.hljs .hljs-string {
  color: $code-string-color;
}
