@import "variables";

.breadcrumb {
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 0;
  padding-left: 0;
  border: none;
  background-color: transparent;
  letter-spacing: 0.02em;
}

.breadcrumb > .active {
  color: $breadcrumb-text-color;
}

.breadcrumb > li + li:before {
  content: "\f105";
  font-weight: bold;
  font-family: FontAwesome;
  padding: 0 5px;
}

.breadcrumb p {
  margin-bottom: 0;
}
