.dashboard .col-xs-4 {
  padding-right: 0px;
  padding-left: 5px;
}

.dashboard .col-xs-4:last-child{
  padding-right: 5px;
}

.dashboard .col-xs-12 {
  padding-right: 5px;
  padding-left: 5px;
}

.dashboard .col-xs-6 {
  padding-right: 5px;
  padding-left: 5px;
}

.dashboard .col-xs-6:last-child{
  padding-right: 5px;
}

.dashboard .panel {
  margin-bottom: 5px;
}

.dashboard-panel {
  height: 100px;
}

.dashboard-graph-panel {
  height: 260px;
  border: 0;
}

.dashboard-graph-title {
  font-weight: 300;
  font-size: 15px;
  padding: 10px 0 0 10px;
  text-transform: uppercase;
}

.dashboard-title {
  font-weight: 400!important;
}

.dashboard-subtitle {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
}

.dashboard-number {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.0;
}

.dashboard-percentage {
  opacity: 0.9;
  font-size: 17px;
  font-weight: 300;
}

.dashboard-percentage:after {
  content: '%';
  font-size: 13px;
}

.dashboard-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  opacity: 0.3;
}

.dashboard-panel-silenced, .dashboard-panel-silenced>a  {
  color: $dashboard-panel-text-color;
  background-color: $grey-color;
}

.dashboard-panel-healthy, .dashboard-panel-healthy>a  {
  color: $dashboard-panel-text-color;
  background-color: $success-color;
}

.dashboard-panel-unknown, .dashboard-panel-unknown>a  {
  color: $dashboard-panel-text-color;
  background-color: $secondary-color;
}

.dashboard-panel-critical, .dashboard-panel-critical>a {
  color: $dashboard-panel-text-color;
  background-color: $critical-color;
}

.dashboard-panel-warning, .dashboard-panel-warning>a  {
  color: $dashboard-panel-text-color;
  background-color: $warning-color;
  border: 0px;
}

.dashboard-panel-unsupported, .dashboard-panel-unsupported>a  {
  color: $dashboard-panel-text-color;
  background-color: #000000;
}

.dashboard .rickshaw_graph {
  position: absolute;
  bottom: 5px;
}
