@import "variables";

.element-view .attributes {
  padding-bottom: 15px;
}

.element-view .key {
  font-weight: bold;
}

.element-view .value {
  overflow-wrap: break-word;
  white-space: pre-line;
}

.element-view .value img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.element-view .check-info .title {
  font-size: 14px;
  font-weight: bold;
}

.element-view .check-output {
  text-overflow: ellipsis;
  overflow : hidden;
  white-space: nowrap;
}
