@import "variables";

.element-view .attributes {
  padding-bottom: 15px;
}

.element-view .key {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.element-view .value {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.element-view .value img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.element-view .check-info .title {
  font-size: 14px;
  font-weight: bold;
}

.element-view .check-output {
  text-overflow: ellipsis;
  overflow : hidden;
  white-space: nowrap;
}

.element-view .widget-chevon {
  float: right;
  line-height: 40px;
  padding-right: 20px;
}

.element-view .widget-icon {
  background-color: $secondary-color;
  color: #fff;
  display: inline-block;
  float: left!important;
  margin-right: 15px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}

.element-view .widget-text {
  display: inline-block;
}

.element-view .widget .subtitle {
  font-size: 12px;
  text-transform: capitalize;
}

.element-view .widget .title {
  display: block;
  font-size: 18px;
}
