.fa-search {
  line-height: 1.5em;
}

.fa-stack {
  height: 1.4em;
  line-height: 1.4em;
  vertical-align: top;
}

.fa-times {
  padding-right: 5px;
}

@media only screen and (max-width: 768px) {
  .fa-stack {width: 1.4em;}
}
