@import "variables";

.form-control {
  height: auto;
  display: inline;
}

.form-control.limit {
  width: auto;
}

.form-control.subscriptions {
  width: 140px;
}

.mass-autocomplete input {
  margin-top: 10px;
  width: 33%;
}

.mass-autocomplete .datacenter {
  padding: 5px;
}
