@import "variables";

.login-container{
  position: relative;
  width: 300px;
  margin: 80px auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
}

.login-container::before,.login-container::after{
  content: "";
  position: absolute;
  width: 100%;height: 100%;
  top: 3.5px;left: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  border: 1px solid #ccc;
}

.login-container::after{
  top: 5px;
  z-index: -2;
  -webkit-transform: rotateZ(-2deg);
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);
}

.login-logo {
  margin: 10px auto 30px;
}

.login-form input{
  width: 100%;
  padding: 10px;
  text-align: center;
  height:40px;
  border: 1px solid #ccc;;
  background: #fafafa;
  transition:0.2s ease-in-out;
  color: $login-input-color;
}

.login-form input:focus{
  outline: 0;
  background: #eee;
}

.login-form input[type="text"]{
  border-radius: 5px 5px 0 0;
  text-transform: lowercase;
}

.login-form input[type="password"]{
  border-radius: 0 0 5px 5px;
  border-top: 0;
}

.login-form button.login{
  margin-top:15px;
  padding: 10px 20px;
}
