@import "variables";

.modal-body .ac-container {
  position: inherit;
}

.modal-content {
  background-color: $modal-content-bg;
  color: #6f6f6f;
}

.modal-dialog {
  width: 70%;
}

.modal-footer {
  border-top: 1px solid $modal-header-border;
}

.modal-header {
  border-bottom: 1px solid $modal-header-border;
}
