.uchiwa-popover {
  background-color: $primary-color;
  width: 175px;
}

.uchiwa-popover .popover-content {
    padding: 5px;
}

.uchiwa-popover.right > .arrow {
  border-right-color: $primary-color;
}

.uchiwa-popover.right > .arrow:after {
  border-right-color: $primary-color;
}

.uchiwa-popover .box {
  border-radius: 4px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
}

.uchiwa-popover .box:last-child {
  margin-bottom: 0;
}

.uchiwa-popover .box.critical {
  background-color: $critical-color;
}

.uchiwa-popover .box.silenced {
  background-color: $silenced-color;
}

.uchiwa-popover .box.total {
  background-color: $info-color;
}

.uchiwa-popover .box.unknown {
  background-color: $unknown-color;
}

.uchiwa-popover .box.warning {
  background-color: $warning-color;
}

.uchiwa-popover .count {
  font-size: 18px;
}
