@import "variables";

.search-results {
  color: $navbar-text-color;
  position: absolute;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: 0;
  padding-right: 4px !important;
  padding-top: 7px;
}

.search-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.search-container .form-control {
  color: $search-containter-color;
  background-color: $search-containter-background-color;
}
