<div class="dropdown" uib-dropdown>
  <span uib-dropdown-toggle class="action">
    Subscriptions
    <i class="fa fa-caret-down"></i>
  </span>
  <ul class="dropdown-menu">
    <li ng-class="{selected: filters.subscription == ''}">
      <a href="" ng-click="permalink($event, 'subscription', '')">
        None
      </a>
    </li>
    <li ng-repeat="subscription in subscriptions | filter:{dc:filters.dc} | unique: 'name' | orderBy:'name'" ng-class="{selected: filters.subscription == subscription.name}">
      <a href="" ng-click="permalink($event, 'subscription', subscription.name)">
        {{subscription.name}}
      </a>
    </li>
  </ul>
</div>
