<div class="login" ng-controller="LoginController">
  <div class="login-container">
    <div class="login-logo">
      <img src="bower_components/uchiwa-web/img/uchiwa.png">
    </div>
    <div class="login-form">
      <form ng-submit="submit()">
        <input ng-model="login.user" name="user" type="text" placeholder="username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        <input ng-model="login.pass" name="pass" type="password" placeholder="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        <button class="btn btn-default btn-block login" type="submit">Login</button>
      </form>
      <form action="/login/oauth" ng-if="configAuth === 'github'">
        <hr>
        <button class="btn btn-default btn-block login" type="submit"><i class="fa fa-github"></i> Login with GitHub</button>
      </form>
    </div>
  </div>
</div>
