<ng-include src="partialsPath + '/navbar.html' + versionParam"></ng-include>
<ng-include src="partialsPath + '/sidebar.html' + versionParam"></ng-include>
<div class="container-fluid clients" ng-cloak>
  <div class="row-fluid">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <!--panel-heading-->
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-10">
              <!--title-->
              <ng-include src="partialsPath + '/panels/breadcrumb.html' + versionParam"></ng-include>
            </div>
            <div class="col-xs-2 search-icon" style="display:none;">
              <i class="fa fa-search fa-lg" ng-click="showMobileSearch = ! showMobileSearch"></i>
            </div>
            <div class="col-xs-12 nopadding">
              <span class="filters">
                <!--actions-->
                <panel-actions data="filtered" resolve-fn="delete" resolve-legend="Delete" silence-fn="silenceClients" ng-if="!user.isReadOnly() && hasElementSelected(selected)"></panel-actions>
                <!--dc-->
                <ng-include src="partialsPath + '/panels/dc.html' + versionParam"></ng-include>
                <!--subscriptions-->
                <ng-include src="partialsPath + '/panels/subscriptions.html' + versionParam"></ng-include>
                <!--status-->
                <ng-include src="partialsPath + '/panels/status.html' + versionParam"></ng-include>
                <!--limit-->
                <panel-limit data="filtered" filters="filters" permalink="permalink"></panel-limit>
                <!--create-->
                <span class="action" ng-click="create()" ng-if="!user.isReadOnly()">
                  Add <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
              </span>
              <!--search-->
              <span class="search nopadding">
                <ng-include src="partialsPath + '/panels/search.html' + versionParam"></ng-include>
              </span>
            </div>
          </div>
        </div>

        <!--panel-body-->
        <div id="responsive-table" class="panel-body">
          <table class="table table-hover table-condensed" style="table-layout: fixed;">
            <thead>
              <tr>
                <th ng-class="user.isReadOnly() ? 'column-xs' : 'column-sm'">
                  <input type="checkbox" ng-model="selected.all" ng-change="selectAll(filtered, selected)" ng-if="!user.isReadOnly()"></input>
                </th>
                <th class="column-xxl" ng-click="predicate = 'name'; reverse=!reverse">Name <i class="fa fa-sort"></i></th>
                <th class="column-md trivial" ng-click="predicate = 'address'; reverse=!reverse">IP <i class="fa fa-sort"></i></th>
                <th class="column-xxxl" ng-click="predicate = 'output'; reverse=!reverse">Events <i class="fa fa-sort"></i></th>
                <th class="column-lg" ng-click="predicate = 'dc'; reverse=!reverse"><i class="fa fa-cloud" tooltip-placement="top" tooltip-trigger uib-tooltip="Datacenter"></i> <i class="fa fa-sort"></i></th>
                <th class="column-md trivial" ng-click="predicate = 'version'; reverse=!reverse"><i class="fa fa-upload" tooltip-placement="top" tooltip-trigger uib-tooltip="Sensu Version"></i> <i class="fa fa-sort"></i></th>
                <th class="column-lg" ng-click="predicate = 'timestamp'; reverse=!reverse"><i class='fa fa-hourglass-start' tooltip-placement="top" tooltip-trigger uib-tooltip="Issued"></i> <i class="fa fa-sort"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr class="well-{{ client.status | getStatusClass }}" ng-repeat="client in filtered | orderBy:predicate:reverse | limitTo:filters.limit track by client._id" ng-click="go('/client/'+client.dc+'/'+client.name)">
                <td class="hide-mobile" ng-click="$event.stopPropagation()">
                  <input type="checkbox" ng-model="selected.ids[client._id]" ng-if="!user.isReadOnly()"></input>
                </td>
                <td data-title="Name" class="main normal">
                  <span ng-click="silence($event, client)" ng-if="!user.isReadOnly()">
                    <silence-icon silenced="client.silenced"></silence-icon>
                  </span>
                  <span tooltip-placement="top" tooltip-trigger tooltip-html="'Subscriptions<br /><small>{{client.subscriptions|arrayToString}}</small>'">
                    {{ client.name }}
                  </span>
                </td>
                <td data-title="IP" class="normal trivial">{{ client.address }}</td>
                <td data-title="Event" class="normal"class="output" ng-bind-html="client.output | linky" ng-click="openLink($event)"></td>
                <td data-title="DC" class="normal">{{ client.dc }}</td>
                <td data-title="Version" class="normal trivial">{{ client.version }}</td>
                <td data-title="Time" class="normal">
                 <relative-time timestamp="client.timestamp"></relative-time>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
