<ng-include src="partialsPath + '/navbar.html' + versionParam"></ng-include>
<ng-include src="partialsPath + '/sidebar.html' + versionParam"></ng-include>
<div class="container-fluid info" ng-cloak>

  <div class="row-fluid">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <!--panel-heading-->
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              <!--title-->
              <ng-include src="partialsPath + '/panels/breadcrumb.html' + versionParam"></ng-include>
            </div>
          </div>
        </div>

        <!--panel-body-->
        <div id="responsive-table" class="panel-body">
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th class="column-xxl">Name</th>
                <th class="column-lg"><i class="fa fa-upload" tooltip-placement="top" tooltip-trigger uib-tooltip="Sensu Version"></i></th>
                <th class="column-lg">Redis</th>
                <th class="column-lg">Transport</th>
                <th class="column-md"><i class="fa fa-bullhorn" tooltip-placement="top" tooltip-trigger uib-tooltip="Events"></i></th>
                <th class="column-md"><i class="fa fa-hdd-o" tooltip-placement="top" tooltip-trigger uib-tooltip="Clients"></i></th>
                <th class="column-md"><i class="fa fa-check-square" tooltip-placement="top" tooltip-trigger uib-tooltip="Checks"></i></th>
                <th class="column-md"><i class="fa fa-bell-slash-o" tooltip-placement="top" tooltip-trigger uib-tooltip="Silenced"></i></th>
                <th class="column-md"><i class="fa fa-briefcase" tooltip-placement="top" tooltip-trigger uib-tooltip="Stashes"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="datacenter in datacenters | orderBy:'name'" ng-click="go('/datacenters/' + datacenter.name)">
                <td data-title="Name" class="main normal">{{ datacenter.name }}</td>
                <td data-title="Version" class="normal">
                  {{ datacenter.info.sensu.enterprise_version || datacenter.info.sensu.version }}
                </td>
                <td data-title="Redis" class="normal">
                  <span ng-if="!datacenter.info.redis.connected">Not</span> Connected
                </td>
                <td data-title="Transport" class="normal">
                  <span ng-if="!datacenter.info.transport.connected">Not</span> Connected
                </td>
                <td data-title="Events" class="normal">{{ datacenter.metrics.events }}</td>
                <td data-title="Clients" class="normal">{{ datacenter.metrics.clients }}</td>
                <td data-title="Checks" class="normal">{{ datacenter.metrics.checks }}</td>
                <td data-title="Silenced" class="normal">{{ datacenter.metrics.silenced }}</td>
                <td data-title="Stashes" class="normal">{{ datacenter.metrics.stashes }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
