<ng-include src="partialsPath + '/navbar.html' + versionParam"></ng-include>
<ng-include src="partialsPath + '/sidebar.html' + versionParam"></ng-include>
<div class="container-fluid silenced" ng-cloak>
  <div class="row-fluid">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <!--panel-heading-->
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-10">
              <!--title-->
              <ng-include src="partialsPath + '/panels/breadcrumb.html' + versionParam"></ng-include>
            </div>
            <div class="col-xs-2 search-icon" style="display:none;">
              <i class="fa fa-search fa-lg" ng-click="showMobileSearch = ! showMobileSearch"></i>
            </div>
            <div class="col-xs-12 nopadding">
              <span class="filters">
                <!--actions-->
                <panel-actions data="silenced" resolve-fn="deleteMultiple" resolve-legend="Delete" silence-fn="false" ng-if="!user.isReadOnly() && hasElementSelected(selected)"></panel-actions>
                <!--limit-->
                <!--dc-->
                <ng-include src="partialsPath + '/panels/dc.html' + versionParam"></ng-include>
                <panel-limit data="filtered" filters="filters" permalink="permalink"></panel-limit>
                <!--add-->
                <ng-include src="partialsPath + '/panels/add-silenced.html' + versionParam"></ng-include>
              </span>
              <!--search-->
              <span class="search nopadding">
                <ng-include src="partialsPath + '/panels/search.html' + versionParam"></ng-include>
              </span>
            </div>
          </div>
        </div>

        <!--panel-body-->
        <div id="responsive-table" class="panel-body">
          <table class="table table-hover table-condensed" style="table-layout: fixed;">
            <thead>
              <tr>
                <th ng-class="user.isReadOnly() ? 'column-xs' : 'column-sm'">
                  <input type="checkbox" ng-model="selected.all" ng-change="selectAll(filtered, selected)" ng-if="!user.isReadOnly()"></input>
                </th>
                <th class="column-xxl" ng-click="predicate = 'id'; reverse=!reverse">ID <i class="fa fa-sort"></i></th>
                <th class="column-md" ng-click="predicate = 'dc'; reverse=!reverse"><i class="fa fa-cloud" tooltip-placement="top" tooltip-trigger uib-tooltip="Datacenter"></i> <i class="fa fa-sort"></i></th>
                <th class="column-xxl" ng-click="predicate = 'reason'; reverse=!reverse"><i class="fa fa-commenting-o" tooltip-placement="top" tooltip-trigger uib-tooltip="Reason"></i> <i class="fa fa-sort"></i></th>
                <th class="column-md" ng-click="predicate = 'creator'; reverse=!reverse"><i class="fa fa-user" tooltip-placement="top" tooltip-trigger uib-tooltip="Creator"></i> <i class="fa fa-sort"></i></th>
                <th class="column-lg" ng-click="predicate = 'timestamp'; reverse=!reverse"><i class='fa fa-hourglass-start' tooltip-placement="top" tooltip-trigger uib-tooltip="Beginning"></i> <i class="fa fa-sort"></i></th>
                <th class="column-lg" ng-click="predicate = 'expire'; reverse=!reverse"><i class='fa fa-hourglass-end' tooltip-placement="top" tooltip-trigger uib-tooltip="Expiration"></i> <i class="fa fa-sort"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="entry in filtered | orderBy:predicate:reverse | limitTo:filters.limit track by entry._id" ng-click="go('/silenced/'+entry._id)">
                <td class="hide-mobile" ng-click="$event.stopPropagation()">
                  <input type="checkbox" ng-model="selected.ids[entry._id]" ng-if="!user.isReadOnly()"></input>
                </td>
                <td data-title="ID" class="main normal">
                  <span ng-if="!user.isReadOnly()"><i class="fa fa-times" ng-click="delete($event, entry._id);"></i></span>{{ entry.id }}
                </td>
                <td data-title="DC" class="normal">{{ entry.dc }}</td>
                <td data-title="Reason" class="normal" ng-bind-html="entry.reason"></td>
                <td data-title="Creator" class="normal">
                  {{ entry.creator }}
                  <span ng-if="entry.creator === null">N/A</span>
                </td>
                <td data-title="Beginning" class="normal">
                  <relative-time timestamp="entry.timestamp" ng-if="entry.begin === null"></relative-time>
                  <relative-time timestamp="entry.begin" ng-if="entry.begin !== null"></relative-time>
                </td>
                <td data-title="Expire" class="normal">
                  <span ng-if="!entry.expire_on_resolve">
                    {{ entry.expire | getExpirationTimestamp }}
                  </span>
                  <span ng-if="entry.expire_on_resolve">
                    On resolve
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
