<div class="panel panel-default client-info">
  <div class="panel-body">
    <div class="row mb15">
      <div class="col-xs-6">
        <div class="panel-title">
          <i ng-if="client.status" status-glyph="{{ client.status }}"></i> {{ client.name }}
        </div>
        <p>
          <small><i class="fa fa-clock-o"></i> <relative-time timestamp="client.timestamp"></relative-time></small> <br />
          <small><i class="fa fa-cloud"></i> {{ client.dc }}</small>
        </p>
      </div>
      <div class="col-xs-6">
        <div class="panel-icon">
          <span class="pull-right" ng-if="!user.isReadOnly()">
            <span class="dropdown" ng-click="stash($event, client)" dropdown-toggle>
              <silence-icon acknowledged="client.acknowledged"></silence-icon>
            </span>
            <i class="fa fa-times" tooltip-placement="top" tooltip-trigger tooltip="Delete" ng-click="deleteClient(client._id)"></i>
          </span>
        </div>
      </div>
    </div>

    <!--Client attributes in key/value format-->
    <div class="attributes">
      <div ng-repeat="(key, value) in clientSummary">
        <span>
          <div class="row">
            <div class="col-xs-4">
              <div class="key pull-right">{{key}}</div>
            </div>
            <div class="col-xs-8">
              <div class="value" ng-bind-html="value"></div>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>

<!--Client images-->
<div class="panel panel-default check-info" ng-repeat="image in clientImages">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel-title">
          {{image.key}}
        </div>
        <span class="value" ng-bind-html="image.value"></span>
      </div>
    </div>
  </div>
</div>
